h1 {
    color: blue;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

p {
    color: aqua;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    
}

li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

body {
    background-image: url("images/ewww1.gif");
}

img {
    width: 150px;
}

.animation {
    position: relative;
    animation: to-the-left 3s infinite;
}

@keyframes to-the-left {
    0%   {left:250px;}
    25%  {left:250px;}
    50%  {left:500px;}
    75%  {left:750px;}
    100% {left:1000px;}
}

.fade-in {
    animation: fade-in 3s infinite;
}

@keyframes fade-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}



